#logo{
    height:50px;
    width:50px;
}
body{
    background-color: white;
}
#total-orders{
    background-color: aqua;
}
#orders-delivered{
    background-color: aqua;
}
#orders-pending{
    background-color: aqua;
}